*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: grey;
    color: white;
  }
   /*-----------Nav-----------*/
  #header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-position: relative;
  }
  
  .container{
    padding: 3% 6%;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all;
    transition-duration: 2s;
  }
  
  .nav-links ul li a:hover {
    color: black;
    }

    .poo-logo  {
        display: none;
      }
      
    .ellipsis-logo {
        display: none;
    }

       /*-----------Main-----------*/

    .counter {
        width: 90%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin: 0 auto;
      }
      
      .counter h1 {
        font-size: 80px;
      }
      
      .counter span {
        font-size: 150px;
      }

      .counter button {
        margin: 0 auto;
        display: inline-block;
        position: relative;
        list-style: none;
        display: inline-block;
        background: transparent;
        color: white;
        font-size: 18px;
        padding: 10px;
        margin: 10px 20px;
        justify-content: space-between;
        border: 2px solid white;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        transition-duration: 1s;
      }

      .counter button:hover{
        border-color: black;
        opacity: 0.5;
      }

      .counter-paragraph{
        position: relative;
        display: inline-block;
        text-align: center;
        width: 90%;
        padding-top: 40px;
        margin: 0 auto;
      }

      /*-----------Footer-----------*/

.footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }


  /*-----------Media-----------*/

@media only screen and (max-width: 600px) {
    .header {
      margin-top: 100%;
    }
  
    .counter h1 {
        font-size: 40px;
        margin-top: 100px;
      }
      .counter span {
        font-size: 75px;
      }
  
    .button {
      margin-bottom: 50px;
        }
  
  .row {
    flex-direction: column;
  }

  .counter button {
    display: grid;
    text-align: center;
    position: relative;
    margin: 20 auto; 
  }

  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li {
    display: block;
  }}