*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: grey;
    color: white;
  }
   /*-----------Nav-----------*/
  #header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-position: relative;
  }
  
  .container{
    padding: 3% 6%;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all;
    transition-duration: 2s;
  }
  
  .nav-links ul li a:hover {
    color: black;
    }

/*-----------Title-----------*/

main {
    display: grid;
    place-items: center;
  }
       
.title {
    color: white;
    text-align: center;
  }
  
  .title h1 {
    font-size: 50px;
  }

  .review {
    width: 30%;
    background: none;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition-duration: 1s;
    text-align: center;
  }
  .review:hover {
    box-shadow: var(--dark-shadow);
  }
  .img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }

  #person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  .img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--clr-primary-5);
    color: var(--clr-white);
  }
  .img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-primary-5);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
  }
  #author {
    margin-bottom: 0.25rem;
  }
  #job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
  }
  #info {
    margin-bottom: 0.75rem;
  }
  .prev-btn,
  .next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color: var(--clr-primary-5);
  }
  .random-btn {
    margin-top: 5px;
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: 10px;
    transition: var(--transition);
    border: 1px solid black;
    cursor: pointer;
  }
  .random-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
  }

    /*-----------Footer-----------*/

..footer {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 200px;
}

